
.navbar{
    display: flex;
    justify-content: space-evenly;
    
}
.hero{
    background-image: url("./images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px

}

.hero1{
    text-align: center;
    color: white;
    padding-top: 200px;
}
.img{
    text-align: center;
    padding-top: 100px;
}
#men{
    padding-right: 20px;
}
#women{
    padding-right: 20px;
}
#checkbox{
    padding-left: 50px;

}
hr{
    height: 100px;
    /* display: inline; */
}